.header__logIn {
    margin-left: auto;
    margin-right: 30px;
}

.header__profile-image {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.header__userConfig {
    position: absolute;
    border-left: 5px solid var(--color-popup-background);
    border-bottom: 5px solid var(--color-popup-background);
    background-color: var(--color-background);

    right: 0px;
    top: 50px;
    padding: 10px;

    display: none;
}

.header__userConfig-active {
    display: flex;
}